@{
    ViewData["Title"] = "Sobre";
}

<!--global css-->
<link rel="stylesheet" href="~/css/global/global-style.css" asp-append-version="true" />
<!--font awesome--><script src="https://kit.fontawesome.com/a2ae10f3c7.js" crossorigin="anonymous"></script>
<!--sobre css-->
<link rel="stylesheet" href="~/css/sobre/sobre-layout.css" asp-append-version="true" />

<div class="page_frame container">
    <div class="glow_bar"></div>
    <section class="sobre">
        <h1>Sobre a MindTrade</h1>
        <p>
            Seja bem-vindo ao MINDTRADE, a sua plataforma educacional dedicada a fornecer conteúdos de qualidade para jovens estudantes que estão se preparando para o vestibular. Em nossa plataforma, acreditamos que a preparação para o vestibular pode ser uma experiência enriquecedora e colaborativa, onde o conhecimento é compartilhado e o aprendizado é contínuo.
        </p>

        <h2>NOSSA MISSÃO</h2>
        <p>
            Na MINDTRADE, nossa missão é oferecer recursos educacionais de alta qualidade que ajudem os estudantes a se prepararem de forma eficaz para o vestibular. Queremos criar uma comunidade na qual os alunos possam acessar materiais de estudo confiáveis, compartilhar seus próprios conteúdos e apoiar uns aos outros na busca pelo sucesso acadêmico.
        </p>

        <h2>FUNDADORES</h2>
        <p>
            Desenvolvido por quatro estudantes do curso de Desenvolvimento de Software Multiplataforma da Faculdade de Tecnologia (FATEC) de Matão - SP,
            a comunidade MINDTRADE foi concebida mediante ao tema proposto para o projeto interdisciplinar do curso, que era voltado para a redução das desigualdades. Após diálogos e discussões, o grupo decidiu focar na educação como uma forma de torná-la mais acessível para jovens e adultos.
            <br>
            A comunidade pretende revolucionar a preparação para o vestibular, oferecendo uma plataforma acessível e colaborativa. Com a dedicação e as habilidades Érica, Geysa Isadora e Hugo, o site está se tornando uma ferramenta essencial para qualquer estudante que busca melhorar seu desempenho acadêmico e se beneficiar de uma comunidade de aprendizado solidária.
            <br>
            O objetivo da equipe é facilitar o acesso a materiais de estudo de alta qualidade e promover uma cultura de colaboração e apoio entre os estudantes. O MINDTRADE tem o potencial de fortalecer a comunidade estudantil e ajudar milhares de jovens a alcançar suas metas educacionais com sucesso.
        </p>

        <section class="fundators">
            <div class="fundator">
                <img src="~/images/sobre/erica.png" alt="Foto do Érica">
                <span>Érica</span>
            </div>
            <div class="fundator">
                <img src="~/images/sobre/geysa.png" alt="Foto do Érica">
                <span>Geysa</span>
            </div>
            <div class="fundator">
                <img src="~/images/sobre/isadora.png" alt="Foto do Érica">
                <span>Isadora</span>
            </div>
            <div class="fundator">
                <img src="~/images/sobre/hugo.jpg" alt="Foto do Érica">
                <span>Hugo</span>
            </div>
        </section>

       
    </section> <!--sobre-->
    <div class="glow_bar_end"></div>
</div> <!--main-container-->
