@import url('~/css/global/global-style.css');

.page_frame {
    margin: 130px auto;

    & .glow_bar {
        position: relative;
        margin: auto;
        top: -4px;
        background-color: var(--color-light-blue);
        width: 100px;
        height: 4px;
        border-radius: 8px 8px 0 0;
        box-shadow: 0 5px 15px var(--color-light-blue);
    }
    
    & .materia {
       padding: 20px 10px 70px 10px;

        & img {
            width: 80px;
        }

        & h1 {
            margin: 20px auto auto auto;
            color: var(--color-main-text);
            font-size: var(--t1-font-size);
            font-weight: var(--t1-font-weight);
            text-align: center;
            text-transform: uppercase;
        }

        & p {
            margin: 20px auto auto auto;
            font-size: 1.2rem;
            line-height: normal;

            & span {
                color: var(--color-main-text);
                font-weight: 700;
                line-height: 2rem;
            }
        }

        & h2 {
            margin: 40px auto auto auto;
            color: var(--color-main-text);
            font-size: var(--t2-font-size);
            font-weight: var(--t2-font-weight);
            line-height: normal;
        }

    }

    & .glow_bar_end {
        position: relative;
        margin: auto;
        top: 4px;
        background-color: var(--color-light-blue);
        width: 100px;
        height: 4px;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 -5px 15px var(--color-light-blue);
    }
}

@media screen and (min-width: 1200px){
    .page_frame {
    
        & .materia {
            padding: 40px 40px 70px 40px;
        }
    }
}

