@{
    ViewData["Title"] = "História";
}

<!--css-->
<link rel="stylesheet" href="~/css/materias/materias-layout.css" asp-append-version="true" />
<!--bootstrap-->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="page_frame container">
    <div class="glow_bar"></div>
    <section class="materia">
        <img src="~/images/global/Icons/historia.png" alt="">
        <h1>História</h1>
        <p>
            Para estudar para vestibulares na área de História, é fundamental abordar uma série de quesitos que são comumente avaliados nas provas. Aqui estão alguns dos principais tópicos e áreas de conhecimento que você deve considerar:
        </p>

        <section class="temas">
            <h2>5 temas de História mais cobrados nas provas</h2>

            <p><span>1. Idade Antiga</span> <br>Civilizações da Mesopotâmia, Egito, Grécia e Roma Antiga. Idade Média: Feudalismo, expansão islâmica, império bizantino, feudalismo na Europa, Cruzadas. Idade Moderna: Renascimento, Reforma Protestante, expansão marítima europeia, absolutismo, Iluminismo. Idade Contemporânea: Revolução Industrial, Revoluções Liberais (Revolução Francesa), Imperialismo, Primeira e Segunda Guerras Mundiais, Guerra Fria.</p>

            <p>
                <span>2. Período Colonial</span> <br>
                Descobrimento, colonização, economia açucareira, escravidão, invasões estrangeiras. Período Imperial: Independência, Primeiro e Segundo Reinado, Abolição da Escravatura, República. República Velha: Política dos Governadores, Revolta da Vacina, movimentos sociais. Era Vargas: Estado Novo, industrialização, populismo. Ditadura Militar e Redemocratização: Golpe de 1964, AI-5, resistência e movimentos sociais, Nova República..
            </p>

            <p>
                <span>3. História da América Latina</span> <br>
                Movimentos de independência, ditaduras militares, redemocratização. História da África: Colonização europeia, movimentos de independência, apartheid. História da Ásia: Império Chinês, Japão Imperial, independências e guerras na Índia e Indochina. História da Europa: Guerras Mundiais, Guerra Fria, formação da União Europeia. História dos Estados Unidos: Independência, Guerra Civil, Guerra Fria, sociedade contemporânea.
            </p>

            <p>
                <span>4. Movimentos Sociais e Culturais</span> <br>
                Feminismo, movimentos negros, direitos humanos. Economia e Sociedade: Revolução Industrial, globalização, desenvolvimento econômico. Ciência e Tecnologia: Revolução Científica, impacto da tecnologia na sociedade contemporânea.
            </p>

            <p>
                <span>5. Leitura de Fontes Históricas</span> <br>
                Textos originais, documentos e análises históricas. Mapas e Cronologias: Entendimento geográfico e temporal dos acontecimentos históricos. Contextualização: Relacionamento dos eventos históricos com o contexto social, político e econômico de cada época. Estudar esses quesitos não apenas para memorização, mas para compreensão dos processos históricos e das suas interconexões, ajudará você a estar preparado para as provas de vestibular na área de História.
            </p>
        </section> <!--temas-->
    </section> <!--matematica-->
    <div class="glow_bar_end"></div>
</div> <!--main-container-->
