@{
    ViewData["Title"] = "Matemática";
}

<!--css-->
<link rel="stylesheet" href="~/css/materias/materias-layout.css" asp-append-version="true" />
<!--bootstrap-->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="page_frame container">
    <div class="glow_bar"></div>
    <section class="materia">
        <img src="~/images/global/Icons/matematica.png" alt="">
        <h1>Matemática</h1>
        <p>
            A matemática desempenha um papel fundamental em diversas áreas de nossas vidas, desde as atividades diárias até os avanços tecnológicos e científicos.Ela proporciona ferramentas essenciais para resolver problemas, tomar decisões e entender o mundo ao nosso redor.
            <br>
            Através da matemática, desenvolvemos habilidades de raciocínio lógico, análise crítica e resolução de problemas, que são fundamentais tanto na vida pessoal quanto profissional. Além disso, a matemática está intrinsecamente ligada a disciplinas como física, engenharia, economia e ciência da computação, desempenhando um papel crucial no avanço dessas áreas.
            <br>
            Em resumo, a matemática é uma linguagem universal que nos permite explorar e compreender os padrões e estruturas que governam o universo, capacitando-nos a tomar decisões informadas e contribuir para o progresso da sociedade.
        </p>

        <section class="temas">
            <h2>12 temas de Matemática mais cobrados nas provas</h2>

            <p><span>1. Aritmética</span> <br>      Estuda as operações básicas de adição, subtração, multiplicação e divisão.</p>

            <p>
                <span>2. Álgebra</span> <br>
                É um ramo da Matemática que se utiliza da aritmética e incrementa o uso de variáveis e incógnitas (letras, por exemplo) para representar números desconhecidos.
            </p>

            <p>
                <span>3. Conjuntos numéricos</span> <br>
                É o estudo do número e de suas propriedades. Estuda-se o conjunto dos números Naturais, Inteiros, Racionais, Irracionais, Reais e Complexos.
            </p>

            <p>
                <span>4. Equações algébricas</span> <br>
                Aqui aparecem as equações do 1º, 2º grau e assim por diante. É importante saber como identificar as raízes das equações, bem como conhecer algumas técnicas que facilitam a obtenção de todas as raízes (nas equações do 2º grau, há a famosa “fórmula de Bhaskara”).
            </p>

            <p>
                <span>5. Funções</span> <br>
                Estuda as principais funções elementares: função afim, função quadrática, função exponencial e função logarítmica.
            </p>

            <p>
                <span>6. Sistemas lineares</span> <br>
                Aqui aparecem as equações lineares com mais de uma incógnita ou mais de uma variável. Existem algumas técnicas que auxiliam na obtenção da solução do sistema (caso haja solução), que envolvem um conhecimento de matrizes e determinantes.
            </p>

            <p>
                <span>7. Progressões</span> <br>
                As sequências numéricas mais utilizadas dentro das progressões são conhecidas como P.A. (Progressão Aritmética) e P.G. (Progressão Geométrica). A P.A. apresenta um crescimento ou decrescimento linear, enquanto a P.G. apresenta um crescimento ou decrescimento exponencial.
            </p>

            <p>
                <span>8. Análise combinatória</span> <br>
                É um ramo da Matemática que estuda técnicas de contagem, baseando-se fundamentalmente no Princípio Fundamental da Contagem. Aqui aparecem permutações, arranjos e combinações.
            </p>

            <p>
                <span>9. Matemática financeira</span> <br>
                Estuda a evolução financeira de uma dívida em diversas modalidades: compra parcelada, financiamento, empréstimo bancário etc. Usa como bases porcentagem e juros simples e compostos.
            </p>

            <p>
                <span>10. Trigonometria</span> <br>
                Estuda as relações métricas entre lados de um triângulo e os ângulos, além das relações entre as razões trigonométricas. Usa como base o seno, o cosseno e a tangente.
            </p>

            <p>
                <span>11. Geometria espacial</span> <br>
                É um ramo da Matemática que estuda os sólidos geométricos, como prismas, pirâmides, cilindros, cones, esferas etc. Empenha-se em obter fórmulas para encontrar a medida da área da base, da área lateral e do volume dos sólidos.
            </p>

            <p>
                <span>12. Geometria analítica</span> <br>
                É um ramo da Matemática que estuda o comportamento analítico de curvas especiais, como a circunferência, a elipse, a hipérbole e a parábola.
            </p>
        </section> <!--temas-->
    </section> <!--matematica-->
    <div class="glow_bar_end"></div>
</div> <!--main-container-->
