@{
    ViewData["Title"] = "Português";
}

<!--css-->
<link rel="stylesheet" href="~/css/materias/materias-layout.css" asp-append-version="true" />
<!--bootstrap-->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="page_frame container">
    <div class="glow_bar"></div>
    <section class="materia">
        <img src="~/images/global/Icons/portugues.png" alt="">
        <h1>Português</h1>
        <p>No vestibular, a disciplina de Português avalia a capacidade dos candidatos em compreender e interpretar textos de diferentes gêneros, como narrativos, dissertativos e poéticos. Além da gramática normativa, são cobrados conhecimentos sobre análise sintática, semântica e interpretação de figuras de linguagem. A preparação envolve leitura crítica, prática de redação e revisão de conteúdos gramaticais fundamentais para garantir um bom desempenho na prova.</p>

        <section class="temas">
            <h2>10 assuntos de Língua Portuguesa mais cobrados no vestibular</h2>

            <p><span>1. Verbos</span> <br>                                                                    Em primeiro lugar, um assunto que não pode ficar de fora do plano de estudos do vestibular é o verbo. É preciso conhecer bem os verbos e todos os seus tempos e modos. Além disso, conhecer a estrutura dos verbos e entender de regência é crucial em algumas provas.</p>

            <p>
                <span>2. Sintaxe</span> <br>
                Em segundo lugar, estudar a sintaxe das frases e orações do português é fundamental para mandar bem nas questões de análise sintática. Portanto, inclua nos estudos os tipos de oração, as relações de subordinação e de coordenação e não esqueça de estudar os desvios de concordância e de regência.
            </p>

            <p>
                <span>3. Categorias gramaticais</span> <br>
                Além de estudar os verbos, o estudante deve dominar ainda as outras nove classes gramaticais presentes no português, saber as suas funções e usos. Estude, principalmente, os pronomes, as conjunções, os advérbios, os substantivos e os adjetivos.
            </p>

            <p>
                <span>4. Variação linguística</span> <br>
                A variação linguística tem sido cada vez mais cobrada em provas de linguagens como a do Enem, por exemplo. Por isso, o vestibulando precisa aprender a identificar as variantes, os diversos registros da língua e ainda estar por dentro do debate sobre preconceito linguístico.
            </p>

            <p>
                <span>5. Morfologia</span> <br>
                O conhecimento quanto à estrutura das palavras também é cobrado em diversos exames. Além de conhecer e saber usar as palavras, é preciso saber mais sobre a sua estrutura e sobre os processos de formação de novas palavras, como a derivação, por exemplo.
            </p>

            <p>
                <span>6. Figuras de linguagem</span> <br>
                No estudo das figuras de linguagem, o ideal é focar nas nuances de sentido por elas provocadas. Estude principalmente metáfora, hipérbole, gradação, ironia e paradoxo.
            </p>

            <p>
                <span>7. Recursos linguísticos</span> <br>
                Conhecer e saber usar os recursos linguísticos, como estratégias e elementos de coesão, por exemplo, é fundamental para a interpretação de texto e análise de sua intencionalidade. Além disso, é fundamental para mandar bem em respostas discursivas ou em provas de redação.
            </p>

            <p>
                <span>8. Gêneros textuais</span> <br>
                Alguns exames exigem do estudante um conhecimento amplo sobre os gêneros textuais. Outros, no entanto, preferem cobrar a interpretação de textos de diferentes gêneros, como tirinhas, cartuns, notícias, poemas, etc. Portanto, estude os gêneros mais presentes nas provas e leia muitos texto, buscando interpretá-los.
            </p>

            <p>
                <span>9. Escolas literárias</span> <br>
                As escolas literárias também estão sempre presentes em provas de linguagens. No entanto, a cobrança costuma vir de forma contextualizada, em questões que envolvem a análise de textos ou obras que se encaixam em uma dada escola ou movimento literário como modernismo, romantismo, parnasianismo e outros.
            </p>

            <p>
                <span>10. Linguagem verbal e não verbal</span> <br>
                Por fim, estude os aspectos e características da linguagem verbal e da linguagem não verbal. Ambas são cobradas principalmente em questões de interpretação de tirinhas, propagandas, charges, textos muito comuns em provas de vestibular.
            </p>
        </section> <!--temas-->
    </section> <!--matematica-->
    <div class="glow_bar_end"></div>
</div> <!--main-container-->
