@{
    ViewData["Title"] = "Química";
}

<!--css-->
<link rel="stylesheet" href="~/css/materias/materias-layout.css" asp-append-version="true" />
<!--bootstrap-->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="page_frame container">
    <div class="glow_bar"></div>
    <section class="materia">
        <img src="~/images/global/Icons/quimica.png" alt="">
        <h1>Química</h1>
        <p>
            No vestibular, a matéria de Química abrange uma variedade de tópicos essenciais que os estudantes devem dominar para obter sucesso nas provas. Aqui está um resumo dos principais temas:
        </p>

        <section class="temas">
            <h2>10 temas de Química mais cobrados nas provas</h2>

            <p>
                <span>1. Estrutura Atômica</span> <br>
                Modelos atômicos (Dalton, Thomson, Rutherford, Bohr). <br>
                Números quânticos e distribuição eletrônica. <br>
                Tabela periódica e propriedades periódicas dos elementos. <br>
            </p>

            <p>
                <span>2. Ligações Químicas</span> <br>
                Ligações iônicas, covalentes e metálicas. <br>
                Geometria molecular e polaridade das moléculas. <br>
                Forças intermoleculares. <br>
            </p>

            <p>
                <span>3. Estequiometria</span> <br>
                Leis ponderais (Lei de Lavoisier, Lei de Proust, Lei de Dalton). <br>
                Cálculos estequiométricos em reações químicas. <br>
                Rendimento das reações e pureza dos reagentes. <br>
            </p>

            <p>
                <span>4. Termoquímica</span> <br>
                Conceitos de calor e temperatura. <br>
                Entalpia e variação de entalpia em reações químicas. <br>
                Lei de Hess e cálculo de energia de reação. <br>
            </p>

            <p>
                <span>5. Cinética Química</span> <br>
                Fatores que influenciam a velocidade das reações. <br>
                Lei da velocidade e ordem de reação. <br>
                Mecanismos de reação e catalisadores. <br>
            </p>

            <p>
                <span>6. Equilíbrio Químico</span> <br>
                Princípio de Le Chatelier. <br>
                Constante de equilíbrio e expressões de equilíbrio. <br>
                Manipulação do equilíbrio químico. <br>
            </p>

            <p>
                <span>7. Solubilidade e Equilíbrio Iônico</span> <br>
                Produto de solubilidade. <br>
                Soluções tampão e pH. <br>
                Equilíbrio ácido-base. <br>
            </p>

            <p>
                <span>8. Eletroquímica</span> <br>
                Pilhas eletroquímicas. <br>
                Potencial padrão de eletrodo. <br>
                Eletrólise e suas aplicações. <br>
            </p>

            <p>
                <span>9. Química Orgânica</span> <br>
                Estrutura e nomenclatura de compostos orgânicos. <br>
                Isomeria e reatividade de compostos orgânicos. <br>
                Principais grupos funcionais e suas propriedades. <br>
            </p>

            <p>
                <span>10. Química Ambiental</span> <br>
                Poluição ambiental e tratamento de resíduos. <br>
                Impactos de substâncias químicas no meio ambiente. <br>
                Química verde e sustentabilidade. <br>
            </p>

            <p>Dominar esses tópicos permite aos estudantes compreender não apenas os fundamentos da Química, mas também aplicá-los a situações práticas e resolver problemas complexos que possam ser apresentados nas provas de vestibular.</p>
        </section> <!--temas-->
    </section> <!--matematica-->
    <div class="glow_bar_end"></div>
</div> <!--main-container-->