@model UsuarioModel;

<nav class="header_container">
    <a class="mindtrade_logo" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/global/logo-mindtrade.png" alt="Alternate Text" />
        <span class="mindtrade_txt">mind<span class="span_grad">trade</span></span>
    </a>

    <div class="header-buttons">
        <div class="search-box">
            <input class="search-txt" type="text" name="" placeholder="Pesquisar">
            <a href="" class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>

        <a asp-controller="Login" asp-action="Index" class="join">Entrar</a>

        <div class="menu">
            <a onclick=showSidebar() class="menu_icon">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
    </div>
</nav>
